.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Adjust the width here */
  height: 4px; /* For horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}


.custom-scrollbar-none::-webkit-scrollbar {
  display: none;
}


.webkit-scrollbar{
  border: 2px solid red;
}



/* New modifier class for large scrollbar */
.custom-scrollbar.large-scrollbar::-webkit-scrollbar {
  width: 10px; /* Larger width */
  height: 4px; /* Larger height for horizontal */
}


.filter-animate {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms ease, transform 300ms ease;
  pointer-events: none;
}

.filter-animate.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
