.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Adjust the width here */
  height: 4px; /* For horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}


.custom-scrollbar-none::-webkit-scrollbar {
  display: none;
}


.webkit-scrollbar{
  border: 2px solid red;
}