.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  /* Adjust the width here */
  height: 4px;
  /* For horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}


.custom-scrollbar-none::-webkit-scrollbar {
  display: none;
}


.webkit-scrollbar {
  border: 2px solid red;
}



/* New modifier class for large scrollbar */
.custom-scrollbar.large-scrollbar::-webkit-scrollbar {
  width: 10px;
  /* Larger width */
  height: 4px;
  /* Larger height for horizontal */
}


.filter-animate {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms ease, transform 300ms ease;
  pointer-events: none;
}

.filter-animate.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}




.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/*  for quote */
 @media print {

  
  @page {
    size: A4;
    margin: 15mm;
  }

  
  body {
    counter-reset: pageNumber;
    visibility: hidden;
  }


  
  #quote-page,
  #quote-page * {
    visibility: visible;
  }

  #quote-page {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;    
  }


  .dynamic-section {
    break-inside: auto;
  }


  .new-page-section {
    break-before: auto !important;
    page-break-before: always !important;
    margin-top: 0 !important;
    padding-top: 20px !important;
    display: block !important;
    position: relative !important;
  }

  .print-card {
    /* break-inside: avoid !important; */
    position: relative !important;
    display: block !important;
    margin-bottom: 30px !important;
  }


  .page-footer::after {
    counter-increment: pageNumber;
    content: "Page " counter(pageNumber);
  }


}

/* VERY OLD VERSIONWITHOUT THIS ALSO IT IS WORKING  */
/* @media screen {
  .printable-content {
    background: #f5f5f7;
    padding: 40px 0;
  }

  .page-sheet {
    background: white;
    width: 210mm;
    min-height: 297mm;
    margin: 0 auto 20px auto;
    padding: 20mm;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
}  */